body {
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px; }

p, h1, h2, h3, ul, li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #48494D; }

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }
  .container-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .header-top__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      font-weight: bold;
      color: #48494D; }
    .header-top__item {
      margin-right: 40px; }
    .header-top__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
  .header__logo {
    margin: 0 auto;
    width: 102px; }
  .header__adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 300px;
    font-weight: bold;
    color: #48494D; }
    .header__adress > img {
      width: 26px;
      margin-right: 5px; }
    .header__adress > span {
      display: block; }
  .header-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 114px;
    margin-left: 26px; }
  .header-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #48494D;
    width: 100%;
    padding-top: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0px solid transparent; }
    .header-list__item {
      padding-bottom: 15px;
      border-bottom: 3px solid transparent; }
      .header-list__item:hover {
        text-shadow: 0 0 0.7px #48494D, 0 0 0.7px #48494D;
        border-bottom: 3px solid #FF7931;
        -webkit-transition: border-bottom .3s;
        -o-transition: border-bottom .3s;
        transition: border-bottom .3s; }
      .header-list__item.active {
        text-shadow: 0 0 0.7px #48494D, 0 0 0.7px #48494D;
        border-bottom: 3px solid #FF7931; }

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0; }
  .main-block-baner {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px; }
  .main-block-adv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 270px;
    height: 397px;
    border: 1px solid #CDCDCD;
    color: #48494D; }
  .main-block__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .main-block__image > h3 {
      margin-top: 10px; }
  .main-block__img {
    margin-top: 60px; }
    .main-block__img > img {
      width: 50%; }
  .main-block__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background-color: #F0F0F4;
    margin-top: 32px;
    padding: 15px 0px; }
    .main-block__text > h3 {
      font-size: 18px;
      font-weight: 300; }
    .main-block__text > span {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2.2;
      padding-top: 10px; }
    .main-block__text > small {
      font-size: 10px;
      line-height: 10px;
      letter-spacing: 2.2;
      padding-bottom: 7px; }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%; }
  .search-list__item {
    color: #48494D;
    display: inline-block;
    width: 23%; }
    .search-list__item > a {
      display: block;
      text-align: center;
      border-radius: 5px;
      padding: 10px 0px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .search-list__item > a:hover {
        background: #F0F0F4;
        font-weight: bold; }
      .search-list__item > a.active {
        display: block;
        text-align: center;
        padding: 10px 0px;
        background: #F0F0F4;
        font-weight: bold; }
  .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    .search-form__input {
      background-color: #F0F0F4;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 15px 10px 15px;
      border: none;
      -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
      border-radius: 3px; }
    .search-form__btn {
      background-color: #FF7931;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border: none;
      -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
      border-radius: 3px; }

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .categories-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #CDCDCD;
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    margin-bottom: 30px;
    min-height: 130px;
    border-radius: 3px; }
    .categories-list__item:hover {
      -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .categories-list__item:hover .categories-list__title {
        color: #FF7931;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
    .categories-list__item.active {
      -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25); }
      .categories-list__item.active .categories-list__title {
        color: #FF7931; }
  .categories-list__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 20px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .categories-list__text > h3 {
      color: #48494D;
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 40px; }
    .categories-list__text > a {
      color: #C4C4C4;
      font-size: 23px;
      font-weight: 300; }
  .categories-list__image {
    width: 97px;
    height: 97px;
    background: url("../images/icons/ellipse.png") no-repeat;
    overflow: hidden;
    position: relative;
    margin-right: 20px; }
    .categories-list__image img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -o-object-fit: cover;
      object-fit: cover; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #F4F4F6;
  padding-top: 42px;
  padding-bottom: 41px;
  font-size: 14px;
  line-height: 21px; }
  .footer-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    color: #48494D; }
    .footer-mail__title {
      width: 65%;
      line-height: 17px;
      font-weight: bold; }
    .footer-mail__form {
      display: inline-block;
      font-size: 0;
      margin-bottom: 25px;
      margin-top: 28px; }
    .footer-mail__input {
      color: #A5A5A5;
      padding: 10px 1px 10px 14px;
      border: none; }
    .footer-mail__btn {
      background-color: #FF7931;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #ffffff;
      padding: 12px 14px 10px 14px;
      border: none; }
    .footer-mail__name {
      font-size: 12px;
      color: #A5A5A5; }
  .footer-sitemap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .footer-sitemap__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      margin-left: 56px; }
      .footer-sitemap__block:last-child {
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin-bottom: 35px; }
    .footer-sitemap__item--title {
      font-weight: bold; }
