@font-face {
  font-family: 'proxima-nova';
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 300;
  font-style: regular; }

body {
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  color: #48494D;
  font-size: 20px;
  line-height: 24px;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p, h1, h2, h3, ul, li {
  text-decoration: none;
  list-style: none;
  font-weight: normal;
  padding: 0;
  margin: 0; }

button {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #48494D; }

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto; }
  .container-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .header-top__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      color: #48494D; }
    .header-top__item {
      font-weight: bold;
      margin-right: 40px; }
    .header-top__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
  .header__logo {
    margin: 0 auto;
    width: 102px; }
  .header__adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 300px;
    font-weight: bold;
    color: #48494D; }
    .header__adress > img {
      width: 26px;
      margin-right: 5px; }
    .header__adress > span {
      display: block; }
  .header-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 114px;
    margin-left: 26px; }
    .header-user__item {
      position: relative; }
      .header-user__item-number {
        position: absolute;
        bottom: 0;
        left: 18px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF7931;
        color: #ffffff;
        font-size: 12px;
        line-height: 20px;
        text-align: center; }
  .header-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #48494D;
    width: 100%;
    padding-top: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0px solid transparent; }
    .header-list__item {
      padding-bottom: 15px;
      border-bottom: 3px solid transparent; }
      .header-list__item:hover {
        text-shadow: 0 0 0.7px #48494D, 0 0 0.7px #48494D;
        border-bottom: 3px solid #FF7931;
        -webkit-transition: border-bottom .3s;
        -o-transition: border-bottom .3s;
        transition: border-bottom .3s; }
      .header-list__item.active {
        text-shadow: 0 0 0.7px #48494D, 0 0 0.7px #48494D;
        border-bottom: 3px solid #FF7931; }

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0; }
  .main-block-baner {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px; }
  .main-block-adv {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 270px;
    height: 397px;
    border: 1px solid #CDCDCD;
    color: #48494D; }
  .main-block__sale {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .main-block__price {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 15px;
    right: 12px;
    z-index: 1; }
    .main-block__price > span {
      color: #FF7931;
      font-weight: bold;
      font-size: 27px;
      margin-bottom: 5px; }
  .main-block__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .main-block__image > h3 {
      margin-top: 10px;
      font-weight: bold; }
  .main-block__img {
    margin-top: 60px; }
    .main-block__img > img {
      width: 50%; }
  .main-block__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background-color: #F0F0F4;
    margin-top: 32px;
    padding: 15px 0px; }
    .main-block__text > h3 {
      font-size: 18px;
      font-weight: 300; }
  .main-block__timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 20px; }
    .main-block__timer-counter {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: 10px; }
      .main-block__timer-counter > span {
        font-family: 'proxima-nova';
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2.2px;
        padding-top: 10px; }
      .main-block__timer-counter > small {
        font-family: 'proxima-nova';
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.8px;
        padding-bottom: 7px; }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%; }
  .search-list__item {
    color: #48494D;
    display: inline-block;
    width: 23%; }
    .search-list__item > a {
      display: block;
      text-align: center;
      border-radius: 5px;
      padding: 10px 0px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .search-list__item > a:hover {
        background: #F0F0F4;
        font-weight: bold; }
      .search-list__item > a.active {
        display: block;
        text-align: center;
        padding: 10px 0px;
        background: #F0F0F4;
        font-weight: bold; }
  .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    .search-form__input {
      background-color: #F0F0F4;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 15px 10px 15px;
      border: none;
      -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
      border-radius: 3px; }

.button {
  font-family: 'proxima-nova';
  background-color: #FF7931;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  border-radius: 3px; }
  .button--footer {
    letter-spacing: 0.12em;
    padding: 12px 14px 10px 14px; }
  .button--tires {
    -ms-flex-preferred-size: 8%;
    flex-basis: 8%;
    margin-top: 10px;
    padding: 0 20px;
    font-size: 14px; }
  .button--filter {
    background-color: #F0F0F4;
    color: #BDBEC2;
    font-size: 13px;
    width: 100%;
    padding: 17px 40px 10px; }

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .categories-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #CDCDCD;
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    margin-bottom: 30px;
    min-height: 130px;
    border-radius: 3px;
    cursor: pointer; }
    .categories-list__item:hover {
      -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .categories-list__item:hover .categories-list__title {
        color: #FF7931;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
    .categories-list__item.active {
      -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25); }
      .categories-list__item.active .categories-list__title {
        color: #FF7931; }
  .categories-list__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 20px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .categories-list__text > h3 {
      color: #48494D;
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 40px; }
    .categories-list__text > a {
      color: #C4C4C4;
      font-size: 23px;
      font-weight: 300; }
  .categories-list__image {
    width: 97px;
    height: 97px;
    background: url("../images/icons/ellipse.png") no-repeat;
    overflow: hidden;
    position: relative;
    margin-right: 20px; }
    .categories-list__image img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -o-object-fit: cover;
      object-fit: cover; }

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #48494D;
  padding-top: 40px;
  padding-bottom: 50px; }
  .products__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px; }
  .products-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-right: 20px; }
    .products-category__item {
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 35px;
      margin-right: 30px;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent; }
      .products-category__item:hover {
        text-shadow: 0 0 0.5px #48494D, 0 0 0.5px #48494D;
        border-bottom: 2px solid #FF7931;
        -webkit-transition: border-bottom .3s;
        -o-transition: border-bottom .3s;
        transition: border-bottom .3s; }
      .products-category__item.active {
        text-shadow: 0 0 0.5px #48494D, 0 0 0.5px #48494D;
        border-bottom: 2px solid #FF7931; }
  .products-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .products-elements__list {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .products-elements__item {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      border: 1px solid #E0E0E0;
      width: 23%;
      min-height: 403px;
      cursor: pointer; }
      .products-elements__item-sale {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1; }
        .products-elements__item-sale.hidden {
          display: none; }
      .products-elements__item-image {
        -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        margin: 30px auto; }
        .products-elements__item-image > img {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .products-elements__item-title {
        font-size: 20px;
        margin-bottom: 20px;
        margin-bottom: 25px;
        width: 80%; }
      .products-elements__item-price {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 35px; }
        .products-elements__item-price.hidden {
          display: none; }
      .products-elements__item:hover {
        -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .products-elements__item:hover .products-elements__item-title {
          color: #FF7931;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
        .products-elements__item:hover .products-elements__item-price {
          color: #FF7931;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
        .products-elements__item:hover .products-elements__item-hover {
          display: block; }
      .products-elements__item-none {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .products-elements__item-none > h3 {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 10px;
          margin-top: -14px; }
        .products-elements__item-none > a {
          font-family: 'proxima-nova';
          color: #FF7931;
          line-height: 24px;
          text-decoration: underline;
          -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
          -webkit-text-decoration-color: rgba(255, 121, 49, 0.4);
          text-decoration-color: rgba(255, 121, 49, 0.4);
          font-size: 16px;
          margin-bottom: 22px; }
      .products-elements__item-basket {
        position: absolute;
        right: 0;
        bottom: 0; }
        .products-elements__item-basket.hidden {
          display: none; }
      .products-elements__item-hover {
        display: none;
        position: absolute;
        top: 30%;
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        padding: 17px 27px;
        font-size: 20px;
        margin: 0 auto;
        color: #5F6063; }
      .products-elements__item--catalog {
        width: calc(100% / 3 - 20px);
        margin-bottom: 30px; }
    .products-elements__feachers {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      right: 7%;
      top: 5%;
      z-index: 1; }
      .products-elements__feachers-sun {
        margin-left: 10px; }
        .products-elements__feachers-sun.hidden {
          display: none; }
  .products__btn {
    background-color: #F0F0F4;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1.1;
    text-align: center;
    text-transform: uppercase;
    color: #BDBEC2;
    padding: 12px 14px 10px 14px;
    border: none;
    margin-top: 35px;
    margin: 35px auto;
    width: 25%; }
  .products--similar {
    margin-top: 50px;
    margin-bottom: 40px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #F4F4F6;
  padding-top: 42px;
  padding-bottom: 41px;
  font-size: 14px;
  line-height: 21px; }
  .footer-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    color: #48494D; }
    .footer-mail__title {
      width: 65%;
      line-height: 17px;
      font-weight: bold; }
    .footer-mail__form {
      display: inline-block;
      font-size: 0;
      margin-bottom: 25px;
      margin-top: 28px; }
    .footer-mail__input {
      padding: 10px 1px 10px 14px;
      border: none; }
      .footer-mail__input::-webkit-input-placeholder {
        color: #A5A5A5; }
      .footer-mail__input:-ms-input-placeholder {
        color: #A5A5A5; }
      .footer-mail__input::-ms-input-placeholder {
        color: #A5A5A5; }
      .footer-mail__input::placeholder {
        color: #A5A5A5; }
    .footer-mail__name {
      font-size: 12px;
      color: #A5A5A5; }
  .footer-sitemap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .footer-sitemap__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      margin-left: 56px; }
      .footer-sitemap__block:last-child {
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin-bottom: 35px; }
    .footer-sitemap__item--title {
      font-weight: bold; }

.catalog-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%; }
  .catalog-breadcrumbs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%; }
  .catalog-breadcrumbs__items {
    display: inline-block;
    margin-right: 10px; }
    .catalog-breadcrumbs__items::after {
      content: '>';
      display: inline-block;
      color: #CDCDCD;
      margin-right: 10px;
      margin-left: 10px; }
    .catalog-breadcrumbs__items:last-child::after {
      display: none; }
    .catalog-breadcrumbs__items > a {
      font-family: Proxima Nova;
      font-size: 15px;
      color: #CDCDCD;
      margin-right: 10px; }

.sort-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .sort-block__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left; }

.catalog-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px; }
  .catalog-sort__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%; }
  .catalog-sort__item {
    margin-right: 2%;
    padding: 0 25px;
    background-color: #F4F4F6;
    border-radius: 50px; }
    .catalog-sort__item > a {
      font-size: 14px;
      opacity: 0.7; }
  .catalog-sort__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .catalog-sort__checkbox {
    font-family: Proxima Nova;
    font-size: 14px;
    border: 1px solid #D7D9DF;
    padding: 5px 15px;
    cursor: pointer; }
    .catalog-sort__checkbox::after {
      content: url("../images/icons/arrow-down.svg");
      margin-left: 10px;
      vertical-align: middle; }
  .catalog-sort__view {
    margin-left: 20px;
    cursor: pointer; }
    .catalog-sort__view > img {
      margin-left: 5px; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px; }
  .catalog-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%; }
  .catalog-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    margin-left: 4%; }

.filter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: rgba(72, 73, 77, 0.5);
  margin-bottom: 15px; }
  .filter__title-type {
    padding-bottom: 7px;
    cursor: pointer; }
    .filter__title-type.active {
      font-weight: 600;
      color: #48494D;
      border-bottom: 2px solid #FF7931; }

.filter-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 15px; }
  .filter-fieldset__legend {
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 17px; }
    .filter-fieldset__legend--open {
      line-height: 0px; }
      .filter-fieldset__legend--open::before {
        content: url(../images/icons/arrow-up.svg);
        vertical-align: middle;
        text-align: center;
        margin-right: 10px; }
    .filter-fieldset__legend--question::after {
      content: url(../images/icons/question.svg);
      vertical-align: middle;
      text-align: center;
      margin-left: 7px; }
  .filter-fieldset__input {
    width: 100%;
    font-size: 12px;
    padding: 10px 1px 10px 14px;
    border: 1px solid #E0E0E0;
    margin-bottom: 15px; }
    .filter-fieldset__input::-webkit-input-placeholder {
      color: #BDBEC2; }
    .filter-fieldset__input:-ms-input-placeholder {
      color: #BDBEC2; }
    .filter-fieldset__input::-ms-input-placeholder {
      color: #BDBEC2; }
    .filter-fieldset__input::placeholder {
      color: #BDBEC2; }
  .filter-fieldset__select {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0; }
  .filter-fieldset__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
  .filter-fieldset__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 10px;
    color: #000000;
    font-size: 14px; }
    .filter-fieldset__item--type:last-child {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    .filter-fieldset__item--stock {
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
      margin-right: 10px; }
  .filter-fieldset__question {
    text-align: center;
    vertical-align: middle;
    margin-left: 5px; }
  .filter-fieldset__more {
    font-family: 'proxima-nova';
    color: #FF7931;
    text-decoration: underline;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    -webkit-text-decoration-color: rgba(255, 121, 49, 0.4);
    text-decoration-color: rgba(255, 121, 49, 0.4);
    font-size: 14px;
    line-height: 17px; }
  .filter-fieldset__submit {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px; }
  .filter-fieldset__extra {
    font-family: 'proxima-nova';
    border: none;
    background-color: inherit;
    color: #6F6F6F;
    font-size: 13px;
    margin-top: 20px; }
    .filter-fieldset__extra::after {
      content: url(../images/icons/arrow-down-dark-grey.svg);
      text-align: center;
      vertical-align: middle;
      margin-left: 7px; }
  .filter-fieldset__reset {
    border: none;
    background-color: inherit;
    font-size: 13px;
    color: #BDBEC2;
    text-decoration: underline;
    margin-top: 10px; }

.catalog-products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  margin-top: 30px; }
  .catalog-pagination__item {
    display: inline-block;
    text-align: center;
    width: 35px;
    margin-right: 10px; }
    .catalog-pagination__item.active {
      padding: 5px 10px;
      border: 2px solid #FF7931; }
      .catalog-pagination__item.active > a {
        display: block;
        text-align: center;
        color: #FF7931;
        font-weight: 600;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
    .catalog-pagination__item > a {
      color: #A8A8A8; }
      .catalog-pagination__item > a:hover {
        color: #FF7931;
        font-weight: 600; }
    .catalog-pagination__item:nth-child(6) {
      margin-right: -5px;
      margin-left: -15px; }

.checkbox:checked + label,
.checkbox:not(:checked) + label,
.radio:checked + label,
.radio:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer; }

.radio:checked + label::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: calc(50% - 6px);
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #FF7931; }

.radio:checked + label::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 1;
  left: 3px;
  top: calc(50% - 3px);
  background-color: #FF7931; }

.radio:not(:checked) + label::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: calc(50% - 6px);
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #CDCDCD; }

.checkbox:checked + label::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: calc(50% - 6px);
  border-radius: 2px;
  background-color: #FF7931; }

.checkbox:checked + label::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 1;
  left: 0;
  top: calc(50% - 6px);
  background: url("../images/icons/checkbox.svg") center center no-repeat; }

.checkbox:not(:checked) + label::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: calc(50% - 6px);
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #CDCDCD; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.filter-fieldset__stock input + label {
  max-width: initial;
  padding: 6px 16px;
  background-color: #f0f0f4;
  color: #bdbec2;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  cursor: pointer; }

.filter-fieldset__stock input:checked + label {
  background: -webkit-linear-gradient(357.23deg, #9710e9 1.17%, #fd8d43 99.31%);
  background: -o-linear-gradient(357.23deg, #9710e9 1.17%, #fd8d43 99.31%);
  background: linear-gradient(92.77deg, #9710e9 1.17%, #fd8d43 99.31%);
  color: #ffffff; }

.filter-fieldset__roll {
  position: relative;
  width: 50px;
  font-size: 14px; }
  .filter-fieldset__roll[data-state='active'] .filter-fieldset__roll-title::before {
    -webkit-transform: translate(-3px, -50%) rotate(-45deg);
    -ms-transform: translate(-3px, -50%) rotate(-45deg);
    transform: translate(-3px, -50%) rotate(-45deg); }
  .filter-fieldset__roll[data-state='active'] .filter-fieldset__roll-title::after {
    -webkit-transform: translate(3px, -50%) rotate(45deg);
    -ms-transform: translate(3px, -50%) rotate(45deg);
    transform: translate(3px, -50%) rotate(45deg); }
  .filter-fieldset__roll[data-state='active'] .filter-fieldset__roll-content {
    opacity: 1;
    width: 65px; }
  .filter-fieldset__roll[data-state='active'] .filter-fieldset__roll-label + .filter-fieldset__roll-input + .filter-fieldset__roll-label {
    max-height: 40px;
    border-top-width: 1px; }

.filter-fieldset__roll-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer; }
  .filter-fieldset__roll-title::before, .filter-fieldset__roll-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 10px;
    height: 2px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #E0E0E0;
    -webkit-transform: translate(-3px, -50%) rotate(45deg);
    -ms-transform: translate(-3px, -50%) rotate(45deg);
    transform: translate(-3px, -50%) rotate(45deg); }
  .filter-fieldset__roll-title::after {
    -webkit-transform: translate(3px, -50%) rotate(-45deg);
    -ms-transform: translate(3px, -50%) rotate(-45deg);
    transform: translate(3px, -50%) rotate(-45deg); }
  .filter-fieldset__roll-title:hover::before, .filter-fieldset__roll-title:hover::after {
    background-color: #48494D; }

.filter-fieldset__roll-content {
  position: absolute;
  top: 36px;
  left: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  background-color: white;
  z-index: 8; }

.filter-fieldset__roll-input {
  display: none; }
  .filter-fieldset__roll-input:checked + label {
    background-color: #D7D9DF; }
  .filter-fieldset__roll-input:disabled + label {
    opacity: 0.6;
    pointer-events: none; }

.filter-fieldset__roll-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 25px;
  max-height: 0;
  padding: 0 21px 0 11px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden; }
  .filter-fieldset__roll-label:hover {
    text-shadow: 0 0 0.7px #48494D, 0 0 0.7px #48494D; }

.filter-fieldset__range-controls {
  position: relative;
  margin-bottom: 22px; }

.filter-fieldset__price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 250px; }

.filter-fieldset__scale {
  height: 1px;
  background: #e0e0e0;
  width: 270px; }

.filter-fieldset__bar {
  width: 90px;
  height: 3px;
  background: #ff7931;
  margin-left: 18px; }

.filter-fieldset__point {
  position: absolute;
  top: -2px;
  width: 7px;
  height: 7px;
  background: #ff7931;
  border-radius: 50%;
  cursor: pointer; }
  .filter-fieldset__point--min {
    left: 18px; }
  .filter-fieldset__point--max {
    left: 108px; }

.filter-fieldset__price-controls label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 6px; }

.filter-fieldset__price-controls input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  width: 44px;
  text-align: center; }

.tires {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 20px 0 65px; }
  .tires-picture {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    min-height: 600px; }
    .tires-picture__sale {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      top: 0;
      left: 0;
      color: #A8A8A8;
      font-size: 20px; }
      .tires-picture__sale-icon {
        font-family: 'proxima-nova';
        background-color: #FF7931;
        font-weight: 600;
        font-size: 15px;
        line-height: 13px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        border: none;
        border-radius: 3px;
        padding: 14px 22px;
        -ms-flex-preferred-size: 8%;
        flex-basis: 8%;
        margin-bottom: 10px; }
      .tires-picture__sale-present {
        margin-bottom: 20px; }
      .tires-picture__sale > small {
        font-family: Proxima Nova;
        font-size: 12px;
        line-height: 15px; }
    .tires-picture__snow {
      position: absolute;
      top: 0;
      right: 100px; }
    .tires-picture__image > img {
      height: 380px; }
    .tires-picture__first-price {
      margin-top: 20px; }
    .tires-picture__price {
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 30px;
      margin-top: 20px; }
    .tires-picture__text {
      font-family: 'proxima-nova';
      color: #FF7931;
      text-decoration: underline;
      -webkit-text-decoration-style: solid;
      text-decoration-style: solid;
      -webkit-text-decoration-color: rgba(255, 121, 49, 0.4);
      text-decoration-color: rgba(255, 121, 49, 0.4);
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 22px; }
  .tires-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .tires-description__title {
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 10px; }
    .tires-description__code {
      font-size: 15px;
      line-height: 18px;
      color: #000000;
      opacity: 0.6;
      margin-bottom: 25px; }
    .tires-description__symbols {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 50px; }
      .tires-description__symbols > img {
        margin-right: 30px;
        cursor: pointer; }
    .tires-description__information {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 20px; }
    .tires-description__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 10px 0; }
      .tires-description__row:first-child {
        border-bottom: none; }
      .tires-description__row-left {
        display: block;
        width: 300px; }
      .tires-description__row-right {
        display: block;
        width: 130px; }
      .tires-description__row-title {
        display: block;
        width: 210px;
        border-bottom: 2px solid transparent; }
        .tires-description__row-title:first-child {
          width: 150px;
          margin-right: 30px; }
        .tires-description__row-title.active {
          border-bottom: 2px solid #FF7931;
          padding-bottom: 3px;
          text-shadow: 0 0 0.7px #48494D, 0 0 0.7px #48494D; }
        .tires-description__row-title:hover {
          border-bottom: 2px solid #FF7931;
          text-shadow: 0 0 0.7px #48494D, 0 0 0.7px #48494D; }
    .tires-description__more {
      font-family: 'proxima-nova';
      color: #FF7931;
      text-decoration: underline;
      -webkit-text-decoration-style: solid;
      text-decoration-style: solid;
      -webkit-text-decoration-color: rgba(255, 121, 49, 0.4);
      text-decoration-color: rgba(255, 121, 49, 0.4);
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 22px; }

.information {
  background-color: #F4F4F6;
  padding: 15px 15px;
  width: 86%;
  margin: 0 auto; }
  .information-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .information-list__item.active {
      border-bottom: 2px solid #FF7931;
      padding-bottom: 3px;
      text-shadow: 0 0 0.7px #48494D, 0 0 0.7px #48494D; }
    .information-list__item:hover {
      border-bottom: 2px solid #FF7931;
      text-shadow: 0 0 0.7px #48494D, 0 0 0.7px #48494D; }
    .information-list__item > a {
      font-family: Proxima Nova;
      font-size: 20px;
      color: #000000;
      opacity: 0.6; }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .search-item {
    font-size: 17px;
    color: #000;
    opacity: 0.7; }
    .search-item:first-child {
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; }
    .search-item:nth-child(3) {
      margin-right: 70px; }
    .search-item__shop {
      border-radius: 50px;
      background-color: #F4F4F6;
      border: none;
      padding: 7px 10px;
      margin-left: 10px;
      outline: none;
      width: 55%; }

.search-item__radio:checked,
.search-item__radio:not(:checked) {
  position: absolute;
  left: -9999px; }

.search-item__radio:checked + label,
.search-item__radio:not(:checked) + label {
  position: relative;
  padding-left: 27px;
  cursor: pointer; }

.search-item__radio:checked + label::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: calc(50% - 7px);
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #FF7931; }

.search-item__radio:checked + label::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 1;
  left: 4px;
  top: calc(50% - 3px);
  background-color: #FF7931; }

.search-item__radio:not(:checked) + label::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: calc(50% - 7px);
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #DADADA; }

.search-item__radio:not(:checked) + label::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 0;
  left: 4px;
  top: calc(50% - 3px);
  background-color: #DADADA; }

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .adress-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7); }
    .adress-row:first-child {
      border-bottom: none;
      margin-bottom: -25px; }
    .adress-row__adress {
      -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .adress-row__work {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-preferred-size: 14%;
      flex-basis: 14%; }
    .adress-row__days {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-right: 15px; }
    .adress-row__times {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .adress-row__available {
      -ms-flex-preferred-size: 15%;
      flex-basis: 15%; }
    .adress-row__amount {
      -ms-flex-preferred-size: 11%;
      flex-basis: 11%; }
    .adress-row__title {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
      color: #000000;
      font-size: 20px; }
      .adress-row__title:nth-child(2) {
        -ms-flex-preferred-size: 23%;
        flex-basis: 23%; }
      .adress-row__title:nth-child(3) {
        -ms-flex-preferred-size: 24%;
        flex-basis: 24%; }
      .adress-row__title:nth-child(4) {
        -ms-flex-preferred-size: 31%;
        flex-basis: 31%; }
