.categories {
    padding-top: 28px;
    padding-bottom: 11px;

    @media (max-width: 1150px) {
        padding-top: 0;
    }
}

.categories-list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1150px) {
        justify-content: center;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 31.5%;
        min-width: 350px;
        min-height: 130px;
        margin-bottom: 30px;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
            transition: .3s; 

            .categories-list__title {
                color: $accent-color;
                transition: .3s; 
            }
        }

        &.active {
            box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);

            .categories-list__title {
                color: $accent-color;
            }
        }

        @media (max-width: 1150px) {
            margin: 2% 2%;
        }

        @media (max-width: 400px) {
            min-width: 290px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 4px;
        flex-basis: 50%;

        & > h3 {
            color: #48494D;
            font-size: 23px;
            font-weight: bold;
            margin-bottom: 40px;
            letter-spacing: 0.7px;

            @media (max-width: 400px) {
                font-size: 18px;
            }
        }

        & > a {
            color: #C4C4C4;
            font-size: 23px;
            font-weight: 300;

            @media (max-width: 400px) {
                font-size: 18px;
            }
        }
    }

    &__image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $accent-color;
        overflow: hidden;
        position: relative;
        margin-right: 20px;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }

        @media (max-width: 400px) {
            width: 89px;
            height: 89px;
            margin-right: 14px;
            margin-top: 20px;
        } 
    }
}

