.header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-top {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 19px;
        border-bottom: 1px solid rgba(black, 0.1);


        &__left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $font-color; 
            margin-right: 36px;
            margin-top: -6px;
        }

        &__item {
            font-weight: bold;
            margin-right: 39px;
            margin-left: 3px;
            letter-spacing: 1.0px;
        }

        &__right {
            display: flex;
            justify-content: flex-end;
            margin-top: 21px;
        }
    }

    &__logo {
        margin-right: 73px;
    }

    &__adress {
        display: flex;
        align-items: start;
        width: 319px;
        font-weight: bold;
        color: #48494D;
        margin-top: -6px;
        letter-spacing: 0.7px;
        &>img {
            width: 34px;
            margin-right: 5px;
            margin-left: -7px;
            }
        &>span {
            display: block;
            margin-top: 5px;
        }
    }

    &-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 114px;
        margin-left: 28px;
        margin-top: -20px;

        &__item {
            position: relative;
            padding-right: 11px;

            &-number {
                position: absolute;
                bottom: -3px;
                left: 18px;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                background-color: $accent-color;
                color: $light-color;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
            }
        }
    }

    &-bottom {
        border-bottom: 1px solid rgba(black, 0.1);

    }

    &-list {
        display: flex;
        justify-content: space-between; 
        color: $font-color; 
        width: 100%;
        padding-top: 13px;
        border-top: 1px solid rgba(black, 0.1);
        border-bottom: 0px solid transparent;

        &__item {
            padding-bottom: 15px;
            letter-spacing: 0.4px;
            border-bottom: 3px solid transparent;

            &:hover {
                text-shadow: 0 0 .7px $font-color, 0 0 .7px $font-color;
                border-bottom: 3px solid $accent-color;
                transition: border-bottom .3s;
            }
            &.active {
                text-shadow: 0 0 .7px $font-color, 0 0 .7px $font-color;
                border-bottom: 3px solid $accent-color;
            }
        }
    }
}
