.main-block {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    &-baner {
        flex-basis: 75%;
        display: flex;
        // background: linear-gradient(to right, $gradient-dark, $gradient-light);
        margin-right: 30px;
    }

    &-adv {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 270px;
        height: 397px;
        border: 1px solid #CDCDCD;
        color: $font-color;
    }

    &__sale {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1                                                             ;
    }

    &__price {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 15px;
        right: 12px;
        z-index: 1;

        &>span {
            color: $accent-color;
            font-weight: bold;
            font-size: 27px;
            margin-bottom: 5px;
        }
    }

    &__image {
        display: flex;
        flex-direction: column;
        text-align: center;

        &>h3 {
            margin-top: 10px;
            font-weight: bold;
        }
    }

    &__img {
        margin-top: 60px;

        &>img {
            width: 50%;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $gray-color;
        margin-top: 32px;
        padding: 15px 0px;

        &>h3 {
            font-size: 18px;
            font-weight: 300;
        }

    }

    &__timer {
        display: flex;
        justify-content: center;
        margin-right: 20px;

        &-counter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10px;

            &>span {
                font-family: 'proxima-nova';
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 2.2px;
                padding-top: 10px;
            }
    
            &>small {
                font-family: 'proxima-nova';
                font-size: 10px;
                line-height: 10px;
                letter-spacing: 0.8px;
                padding-bottom: 7px;
            }
        }
    }
}
