.popular {
    display: flex;
    color: $font-color;

    &__title {
        font-size: 25px;
        font-weight: bold;
    }

    &-category {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-right: 20px;

        &__item {
            font-size: 15px;
            font-weight: 300;
        }
    }

    &-products {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        &__list {

        }
    }
}