.search {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;

    &-list {

        &__item {
            color: $font-color;
            display: inline-block;
            width: 23%;

            &>a {
                display: block;
                text-align: center;
                border-radius: 5px;
                padding: 10px 0px;
                transition: .3s;

                &:hover {
                    background: $gray-color;
                    font-weight: bold; 
                    
                }
                &.active {
                    display: block;
                    text-align: center;
                    padding: 10px 0px;
                    background: $gray-color;
                    font-weight: bold; 
                }
            }
        }
    }

    &-form {
        display: flex;
        margin-top: 30px;

        &__input {
            background-color: $gray-color;
            color: $light-color;
            font-size: 16px;
            padding: 10px 15px 10px 15px;
            border: none;
            flex-basis: 90%;
            border-radius: 3px;                                                                                                                                                                                                                                                                                                                                                                                                   
        }
    }
}

.button {
    font-family: 'proxima-nova';
    background-color: $accent-color;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: $light-color;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;  
    border: none;
    flex-basis: 10%;
    border-radius: 3px;

    &--footer {
        letter-spacing: 0.12em;
        padding: 12px 14px 10px 14px;
    }

    &--tires {
        flex-basis: 8%;
        margin-top: 10px;
        padding: 0 20px;
        font-size: 14px;
    }

    &--filter {
        background-color: #F0F0F4;
        color: #BDBEC2;
        font-size: 13px;
        width: 100%;
        padding: 17px 40px 10px;
    }
}