.search {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;

    &-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &__item {
            padding: 0 16px;
            margin-right: 15px;
            color: $font-color;
        }

        &__link {
            display: block;
            text-align: center;
            border-radius: 5px;
            padding: 10px 5px;
            transition: .3s;
            letter-spacing: 0.6px;
            white-space: nowrap;

            &:hover {
                text-shadow: 0 0 .7px $font-color, 0 0 .7px $font-color;
                transition: border-bottom .3s; 
            } 

            &.active {
                display: block;
                text-align: center;
                padding: 10px 20px;
                background: $gray-color;
                font-weight: bold; 

                &:hover {
                    text-shadow: none;
                }
            }
        }
    }

    &-form {
        position: relative;
        display: flex;
        margin-top: 27px;

        &__input {
            background-color: $gray-color;
            color: #656464;
            font-size: 16px;
            padding: 10px 15px 10px 19px;
            margin-right: -5px;
            border: none;
            flex-basis: 90%;
            border-radius: 3px; 
            letter-spacing: 0.4px;  
            
            @media(max-width: 800px) {
                flex-basis: 100%;
            }
        }
    }
}
